################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearningRPMWPM/.vs/LearningRPMWPM/v16/Browse.VC.db-shm
